<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__body">
                <a href="#" class="footer__logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <p>
                    г. Москва, пл. Тверская застава д. 3, 4 этаж, оф. 410
                    <br>
                    Копирование информации с сайта и ее размещение возможно только с ссылкой на данный ресурс.
                </p>
                <div class="socials">
                    <a href="#">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a>
                     <a href="#">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                     <a href="#">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__copy">
                Языковые курсы «Диалог» © 2005 - 2025
            </div>
        </div>
    </div>
</footer>