:root {
  --container-width: 1125px;
  --main-outer-width: 100%;
  --container-padding: 20px;
  --calculated-padding: calc((100% - var(--container-width)) / 2);
  --theme-color-accent: rgb(52, 141, 228);
  --theme-color-accent-90: rgb(52, 141, 228, 0.8);
  --theme-color-text-common: #040404;
}
